.burgermenu {
  position: relative;
  padding-top: 0.5rem;
  cursor: pointer;
  display: block;
  z-index: 100;
}

.burger__span {
  background: #ff589e;
  display: block;
  position: relative;
  width: 3rem;
  height: 0.2rem;
  margin-bottom: 0.5rem;
  transition: all ease-in-out 0.2s;
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(45deg);
  top: -11px;
}

.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 11px;
}

@media (max-width: 1400px) {
  .burger__span {
    width: 2.5rem;
    height: 0.1rem;
  }
}
