.navbar__main {
  position: fixed;
  top: 10px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-height: 50px;
  margin: auto;
  padding: 20px;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar__main__open {
  position: fixed;
  top: 10px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-height: 50px;
  margin: auto;
  padding: 30px;
  border-radius: 40px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar__main__menu > ul {
  display: flex;
  list-style-type: none;
}

.navbar__main__menu > ul > li {
  margin-right: 20px;
}

.logo_img {
  height: auto;
  width: 70px;
}

@media (max-width: 1400px) {
  .navbar__main {
    width: 80%;
    padding: 20px;
  }

  .navbar__main__open {
    width: 80%;
    padding: 20px;
  }
  .navbar__main__menu > ul {
    display: none;
  }
}

@media (max-width: 728px) {
  .navbar__main {
    width: 90%;
    padding: 20px;
  }

  .navbar__main__open {
    width: 90%;
    padding: 20px;
  }
}

@media (max-width: 415px) {
  .navbar__main {
    width: 95%;
  }
  .navbar__main__open {
    width: 95%;
  }
}
